* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;

    section {
        height: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }

    section:hover {
        flex-grow: 2;
    }

    section:nth-child(1) {
        background-image: url(./lambo.jpg);
    }

    section:nth-child(2) {
        background-image: url(./frari.jpg);
    }

    section:nth-child(3) {
        background-image: url(./Aston\ Martin.jpg);
    }

    section:nth-child(4) {
        background-image: url(./bmw.jpg);
    }

    section:nth-child(5) {
        background-image: url(./bugati.jpg);
    }
}