@font-face {
    font-family: 'FirstFont';
    src: url(./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
    font-family: 'SecondFont';
    src: url(./WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
    font-family: 'ThirdFont';
    src: url(./WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ThirdFont';
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'FirstFont';
    font-size: 18px;
    color: #000000;
}

#nav #searchbar {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
    font-family: 'SecondFont';
    font-size: 16px;
    color: #000000;
    background-color: #f0f0f0;

}
#nav #searchbar::placeholder {
    font-family: 'SecondFont';
    font-size: 16px;
    color: #a0a0a0;
}
#nav #searchbar:focus {
    outline: none;
    box-shadow: 0 0 5px #a0a0a0;
}
#nav #buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}