* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 33, 26);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;


    grid-template-areas: "header header header"
        "section section section"
        "photo photo photo"
    ;

    header {
        color: white;
        grid-area: header;

        #nav {
            // width: 100%;
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #links {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-right: 5rem;

                    img {
                        width: 1.5rem;
                    }

                    h1 {
                        font-weight: 400;
                        font-size: 1.5rem;
                    }
                }


                .atag {
                    display: flex;
                    gap: 6rem;

                    a {
                        font-size: 0.8rem;
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.598);
                    }
                }


            }

            button {
                gap: 0.6rem;
                color: black;
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.6rem 1rem;
                font-weight: 600;
                border-radius: 0.5rem;
                background-color: white;
            }

        }

    }

    section {
        width: 100%;
        display: flex;
        place-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        grid-area: section;
        color: rgb(255, 255, 255);
        margin: 3rem;

     .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            h1 {
            font-size: 3.5rem;
            line-height: 0.95;
            text-wrap: balance;
            font-weight: 400;
            padding-bottom: 1rem;
        }

        p{
            width: 55%;
            line-height: 1.6;
            font-weight: 300;
            font-size: 1rem;
            opacity: 0.5;
        }
    }
    }

    photo{
        // width: 100%;
        grid-area: photo;
        display: flex;
        align-items: center;
        gap: 1rem;


       .img{
         overflow: hidden;
         width: 90%;
        height: 80%;
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-size: cover;
            border-radius: 1rem;
           
        }
    }
    }
  


}