@font-face {
    font-family: 'Gilroy';
    src: url(./gilroy/Gilroy-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 90, 90);
}

.card {
    width: 300px;
    height: 400px;
    background-image: url(./bg.avif);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bottom {
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    bottom: -40%;
    position: absolute;
    transition: bottom 0.5s;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);

}

.card:hover .bottom {
    bottom: 0;
}

.bottom h2 {
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    position: relative;
    top: 20px;
    transition: top 0.5s;
}

.bottom p {
    color: white;
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    top: 30px;
    transition: top 0.5s;
    /* margin-bottom: -10px; */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-weight: 300;
    opacity: 0.9;
}

.bottom button {
    position: relative;
    top: 40px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bottom button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bottom .social-icons {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 15px;
    left: 65%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.5s;
}
.bottom .social-icons i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
.bottom .social-icons i:hover {
    color: rgb(255, 255, 255, 0.8);
    transform: scale(1.1);

}