* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
     grid-template-areas: 'header header header'
                         'nav main aside'
                         'footer footer footer';
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px auto 60px;
    gap: 10px;
   

}

header {
    grid-area: header;
    background-color: lightblue;
}

nav {
    grid-area: nav;
    background-color: lightgreen;
}

main {
    grid-area: main;
    background-color: lightcoral;
}
aside {
    grid-area: aside;
    background-color: lightgoldenrodyellow;
}
footer {
    grid-area: footer;
    background-color: lightgray;
}