* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(227, 225, 225);
    font-size: clamp(14px, 1.1vw, 18px);
}

body {
    background-color: #1d1d1d;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;

}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            @include flex-column(3rem);
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 400;
                    font-size: 2.8rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 200;
                    font-size: 1.3rem;
                    opacity: 0.6;
                    line-height: 1.5rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    color: rgb(249, 248, 246);
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    background-color: transparent;

                    img {
                        width: 40px;
                    }
                }

            }


        }
    }

    section.view2 {
        @include flex-column(2.5rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;
            text-transform: uppercase;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    opacity: 0.6;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 300;
                }

            }
        }

    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);



        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            @include flex-column(3rem);
            padding: 1.5rem;

            h6 {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 400
            }

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 400;
                    font-size: 2.8rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 200;
                    font-size: 1.3rem;
                    opacity: 0.6;
                    line-height: 1.5rem;
                }
            }

        }

    }

    section.view4 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);



        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            @include flex-column(3rem);
            padding: 1.5rem;

            h6 {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 400
            }

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 400;
                    font-size: 2.8rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 200;
                    font-size: 1.3rem;
                    opacity: 0.6;
                    line-height: 1.5rem;
                }
            }

        }

    }

    .bar {
        margin-left: -40%;

        h1 {
            font-size: 3rem;
            font-weight: 400;
        }
    }


    section.view5 {
        @include flex-column(2rem);
        width: 100%;
        padding: 1rem;

        .card1 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card1.webp);
            background-size: contain;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgb(84, 84, 84, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1.1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }

        .card2 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card2.webp);
            background-size: contain;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgb(84, 84, 84, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1.1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }

        .card3 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card3.webp);
            background-size: contain;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgb(84, 84, 84, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1.1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }
    }

    section.view6 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);


        img {
            width: 100%;
            border-radius: 0.7rem;
        }

        .bottom {
            width: 100%;
            background-color: #292929;
            justify-content: space-between;
            border-radius: 0.7rem;
            @include flex-column(5rem);
            padding: 1.5rem;


            .text {
                

                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                    opacity: 0.6;
                    

                }

                h1 {
                    width: 80%;
                    font-weight: 400;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
            }
            
            button {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                color: rgb(245, 245, 245);
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.7rem 1rem;
                border-radius: 0.5rem;
                background-color: transparent;
            }
             img {
                        width: 40px;
                    }
        }

    }



}


@media (min-width:900px) {
    main {
        section.view1 {
            flex-direction: row;
            padding: 1rem 2rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1rem;

                    h1 {
                        font-size: 3.9rem;
                    }

                    p {
                        width: 80%;
                        line-height: 1.2;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 2rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 2rem;


            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                padding: 3rem;
                justify-content: space-between;

                .paragraphs {
                    display: flex;
                    gap: 2rem;


                    p {
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view4 {
            flex-direction: row;
            padding: 1rem 2rem;


            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                padding: 3rem;
                justify-content: space-between;

                .paragraphs {
                    display: flex;
                    gap: 2rem;


                    p {
                        font-size: 1rem;
                    }
                }
            }

        }


        .bar {
            margin-left: -80%;
        }

        section.view5 {
            flex-direction: row;
        }

        section.view6{
            flex-direction: row;
            padding: 1rem 2rem;

            .top,
            .bottom {
                width: 50%;
            }

              .bottom {
                    padding: 3rem;

                    .text{

                        h1{
                            width: 90%;
                            font-size: 3rem;
                        }
                    }
                }
        }


    }
}